<table class="table table-bordered table-striped" style="margin: 20px">
	<thead>
		<tr>
			<th>Task</th>
			<th>Completed By</th>
			<th>Completed On</th>
		</tr>
	</thead>	
	<tbody>
		<% @biannuals.each do |biannual| %>
			<tr>
				<td><%= biannual.title %></td>
				<% if biannual.completed %>
					<td><%= biannual.completed_by %></td>
				<% else %>
					<td>---</td>
				<% end %>
				<td><%= biannual.updated_at.to_s %></td>
			</tr>
		<% end %>
	</tbody>
</table>