<table class="table table-bordered table-striped" style="margin: 20px">
	<thead>
		<tr>
			<th>Task</th>
			<th>Completed By</th>
			<th>Completed On</th>
		</tr>
	</thead>
	<tbody>
		<% @weeks.each do |week| %>
			<tr>
				<td><%= week.title %></td>
				<% if week.completed %>
					<td><%= week.completed_by %></td>
				<% else %>
					<td>---</td>
				<% end %>
				<td><%= week.updated_at.to_s %></td>
			</tr>
		<% end %>
	</tbody>
</table>