<h1>Report Generator</h1>

<br>
</br>

<label for="reportrange">Report Dates:</label>
<div id="reportrange">
  <i class="glyphicon glyphicon-calendar"></i>
  <span><?php echo date("F j, Y", strtotime('-30 day')); ?> - <?php echo date("F j, Y"); ?></span> <b class="caret"></b>
</div>

<script type="text/javascript">
  $('#reportrange').daterangepicker(
  {
    ranges: {
      'Today': [moment(), moment()],
      'Yesterday': [moment().subtract('days',1), moment().subtract('days',1)],
      'Last 7 Days': [moment().subtract('days',6), moment()],
      'Last 30 Days': [moment().subtract('days',29), moment()],
      'This Month': [moment().startOf('month'), moment().endOf('month')],
      'Last Month': [moment().subtract('month',1).startOf('month'), moment().subtract('month',1).endOf('month')]
    },
    startDate: moment().subtract('days',29),
    endDate: moment()
  },
  function(start,end) {
    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY')).bind('ajax:success');
  }
);
</script>

